In [9]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [35]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.dropna()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [36]:
df.drop(['id','ever_married','work_type','Residence_type','bmi'],axis = 1,inplace = True)

In [37]:
df.drop(['smoking_status'],axis = 1,inplace = True)

In [38]:
df['gender'] = df['gender'].apply(lambda x : 1 if x == 'Male' else 0)
df

      gender   age  hypertension  heart_disease  avg_glucose_level  stroke
0          1  67.0             0              1             228.69       1
1          0  61.0             0              0             202.21       1
2          1  80.0             0              1             105.92       1
3          0  49.0             0              0             171.23       1
4          0  79.0             1              0             174.12       1
...      ...   ...           ...            ...                ...     ...
5105       0  80.0             1              0              83.75       0
5106       0  81.0             0              0             125.20       0
5107       0  35.0             0              0              82.99       0
5108       1  51.0             0              0             166.29       0
5109       0  44.0             0              0              85.28       0

[5110 rows x 6 columns]

In [39]:
X = df.drop(['stroke'],axis = 1)
y = df['stroke']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [40]:
model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [41]:
model.score(X_test,y_test)

0.7592954990215264